{% extends '@DSYSurvey/base.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_index') }}">{{ 'Encuestas'|trans }}</a>
    </li>
{% endblock %}

{% block surveyBody %}
    <div class="row">
        <div class="col-sm col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for survey in surveys %}
                        <tr>
                            <td>{{ survey.name }}</td>
                            <td>{{ survey.enabled ? 'Habilitada' : 'Deshabilitada' }}</td>
                            <td>
                                <a href="{{ path('dsy_survey_edit', {survey: survey.id}) }}">Editar</a>
                                &nbsp;
                                <a href="{{ path('dsy_survey_section_index', {survey: survey.id}) }}">Secciones</a>
                                {% if isFlowControlEnabled() %}
                                    &nbsp;
                                    <a href="{{ path('dsy_survey_preview', {survey: survey.id}) }}">Preview</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if app.request.get('all') %}
                    <a href="{{ path('dsy_survey_index') }}">Ver solo habilitadas</a>
                {% else %}
                    <a href="{{ path('dsy_survey_index', {all: 1}) }}">Ver todas</a>
                {% endif %}  
            </div>
            <a href="{{ path('dsy_survey_edit') }}" class="btn btn-info">Crear Encuesta</a>
        </div>
    </div>
{% endblock %}