{% extends '@DSYSurvey/base.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_index') }}">{{ 'Encuestas'|trans }}</a>
    </li>
{% endblock %}

{% block surveyBody %}
    <div class="row">
        <div class="col-sm col-md-12">
            {{ showQuestionsFlow(survey) }}
        </div>
    </div>
{% endblock %}