{% extends '@DSYSurvey/Web/section/index.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_section_edit', {survey: survey.id, section: section.id}) }}"><strong>{{ section.name }}</strong></a>
    </li>
{% endblock %}

{% block surveyBody %}
    <div class="row">
        <div class="col-sm col-md-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
