{% extends '@DSYSurvey/Web/question/index.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, question: question.id}) }}"><strong>{{ question.title }}</strong></a>
    </li>
{% endblock %}

{% block surveyBody %}
    {# {% form_theme form with 'bootstrap_4_horizontal_layout.html.twig' %} #}
    {% form_theme form '@DSYSurvey/Web/form/input_file_alternatives.html.twig' %}

    <div class="row mb-5">
        <div class="col col-md-8">
            <h2>{{ ((question.id is not null ? 'Editando' : 'Creando') ~ ' pregunta' )|upper }} </h2>
            <h6>{{ ('De tipo ' ~ question.typeName)|upper }}</h6>
        </div>
        {% if question.id and isFlowControlEnabled() %}
            <div class="col text-right">
                <a role="button" class="btn btn-primary" href="{{ path('dsy_survey_section_page_question_flow_exception_index', { question: question.id }) }}">
                    <span>Excepciones de flujo</span>
                </a>
            </div>
        {% endif %}
        
    </div>
    <div class="row">
        <div class="col-sm col-md-12">
            {{ form(form) }}
        </div>
    </div>
    {# {% if question.type == constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_AUTOCOMPLETE') %}
        {% include "@DSYSurvey/Web/question/alternatives.html.twig" %}
    {% endif %} #}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dsysurvey/js/alternatives.js') }}"></script>
{% endblock %}
