{% extends '@DSYSurvey/Web/page/edit.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_section_page_question_index', {survey: survey.id, section: section.id, page: page.id}) }}">{{ 'Preguntas'|trans }}</a>
    </li>
{% endblock %}

{% block surveyBody %}
    <div class="row">
        <div class="col-sm col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Orden</th>
                            <th>Alternativas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <td>{{ (question.code is not empty ? '(' ~ question.code ~ ') ' : '') ~ question.title }}</td>
                                <td>{{ question.typeName }}</td>
                                <td>{{ question.enabled ? 'Habilitada' : 'Deshabilitada' }}</td>
                                <td>{{ question.position }}</td>
                                {% if question.type in [constant('DSYSurveyBundle\\Entity\\Question::TYPE_MULTIPLE_CHOICE'), constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_CHOICE'), constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_AUTOCOMPLETE') ] %}
                                <td><span class="badge badge-secondary">{{ question.alternativesEnabled|length }}</span></td>
                                {% else %}
                                <td> - </td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, question: question.id}) }}">Editar</a>
                                    {% if isFlowControlEnabled() %}
                                        &nbsp;
                                        <a href="{{ path('dsy_survey_section_page_question_flow_exception_index', { question: question.id }) }}">Flujo</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if app.request.get('all') %}
                    <a href="{{ path('dsy_survey_section_page_question_index', {survey: survey.id, section: section.id, page: page.id}) }}">Ver solo habilitadas</a>
                {% else %}
                    <a href="{{ path('dsy_survey_section_page_question_index', {survey: survey.id, section: section.id, page: page.id, all: 1}) }}">Ver todas</a>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if constant('DSYSurveyBundle\\Entity\\Question::TYPE_BOOLEAN')|isTypeIncluded %}
                        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, type: constant('DSYSurveyBundle\\Entity\\Question::TYPE_BOOLEAN')}) }}" class="btn btn-info mt-1">Crear pregunta Sí / No</a>
                        &nbsp;
                    {% endif %}
                    {% if constant('DSYSurveyBundle\\Entity\\Question::TYPE_TEXT')|isTypeIncluded %}
                        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, type: constant('DSYSurveyBundle\\Entity\\Question::TYPE_TEXT')}) }}" class="btn btn-info mt-1">Crear pregunta de texto</a>
                        &nbsp;
                    {% endif %}
                    {% if constant('DSYSurveyBundle\\Entity\\Question::TYPE_MULTIPLE_CHOICE')|isTypeIncluded %}
                        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, type: constant('DSYSurveyBundle\\Entity\\Question::TYPE_MULTIPLE_CHOICE')}) }}" class="btn btn-info mt-1">Crear pregunta de selección multiple</a>
                        &nbsp;    
                    {% endif %}
                    {% if constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_CHOICE')|isTypeIncluded %}
                        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, type: constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_CHOICE')}) }}" class="btn btn-info mt-1">Crear pregunta de selección simple</a>
                        &nbsp;
                    {% endif %}
                    {% if constant('DSYSurveyBundle\\Entity\\Question::TYPE_GROUP_CHOICE')|isTypeIncluded %}
                        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, type: constant('DSYSurveyBundle\\Entity\\Question::TYPE_GROUP_CHOICE')}) }}" class="btn btn-info mt-1">Crear pregunta de grupo de selección</a>
                        &nbsp;
                    {% endif %}
                    {% if constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_AUTOCOMPLETE')|isTypeIncluded %}
                        <a href="{{ path('dsy_survey_section_page_question_edit', {survey: survey.id, section: section.id, page: page.id, type: constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_AUTOCOMPLETE')}) }}" class="btn btn-info mt-1">Crear pregunta de autocompletado único</a>
                        &nbsp;
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
