<div class="row mb-3">
    <div class="col">
        <h4>Flujo de preguntas</h4>
    </div>
</div>

{% for q in questions %}
    {% set page = q.page %}
    {% set section = page.section %}
    {% set survey = section.survey %}
    {% set avaribleQuestionType = [constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_CHOICE')] %}{# , constant('DSYSurveyBundle\\Entity\\Question::TYPE_SINGLE_AUTOCOMPLETE') #}
    {% if q.type not in avaribleQuestionType or not hasAlternativeFlowExceptions(q) %}
        {% set nextQuestion = nextQuestion(q) %}
        <div class="row">
            <div class="col-5 px-0">
                <span class="badge badge-success" title="Pregunta de {{ q.typeName }}">{{ q|firstLetterType }}</span>
                <a class="link" title="Editar pregunta" href="{{ path('dsy_survey_section_page_question_edit', { survey: survey.id, section: section.id, page: page.id, question: q.id}) }}">
                    <span>{{ q.code is not null ? q.code|upper : q.title|capitalize }}</span>
                </a>
            </div>
            <div class="col-2 text-center px-0">>></div>
            <div class="col-5 text-right px-0">
                {% if nextQuestion is not null %}
                    <span class="badge badge-success" title="Pregunta de {{ nextQuestion.typeName }}">{{ nextQuestion|firstLetterType }}</span>
                    <a class="link" title="Editar pregunta" href="{{ path('dsy_survey_section_page_question_edit', { survey: survey.id, section: section.id, page: page.id, question: nextQuestion.id}) }}">
                        <span>{{ nextQuestion.code is not empty ? nextQuestion.code|upper : nextQuestion.title|capitalize  }}</span>
                    </a>
                {% else %}
                    <span class="badge badge-secondary px-3">FIN</span>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-5 px-0">
                <span class="badge badge-success" title="Pregunta de {{ q.typeName }}">{{ q|firstLetterType }}</span>
                <a class="link" title="Editar pregunta" href="{{ path('dsy_survey_section_page_question_edit', { survey: survey.id, section: section.id, page: page.id, question: q.id}) }}">
                    <span>{{ q.code is not null ? q.code|upper : q.title|capitalize }}</span>
                </a>
            </div>
            <div class="col-2 text-center px-0">&nbsp;</div>
            <div class="col-5">&nbsp;</div>
        </div>
        {% for alt in q.alternativesEnabled %}
            {% set nextQuestion = nextQuestionForAlternative(alt) %}
            <div class="row">
                <div class="col-5 pl-4">
                    <span class="badge badge-info" title="Alternativa">A</span>
                    <span>{{ alt.title|upper ~ (alt.code is not empty ? ' (' ~ alt.code ~ ')' : '')|trim  }}</span>
                </div>
                <div class="col-2 text-center px-0">>></div>
                <div class="col-5 px-0 text-right">
                    {% if nextQuestion is not null %}
                        <span class="badge badge-success" title="Pregunta de {{ nextQuestion.typeName }}">{{ nextQuestion|firstLetterType }}</span>
                        <a class="link" title="Editar pregunta" href="{{ path('dsy_survey_section_page_question_edit', { survey: survey.id, section: section.id, page: page.id, question: nextQuestion.id}) }}">
                            <span>{{ nextQuestion.code is not empty ? nextQuestion.code|upper : nextQuestion.title|capitalize  }}</span>
                        </a>
                    {% else %}
                        <span class="badge badge-secondary px-3">FIN</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
