{% extends '@DSYSurvey/Web/question/edit.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_section_page_question_flow_exception_index', { question: question.id}) }}">{{ 'Excepciones de flujo'|trans }}</a>
    </li>
{% endblock %}

{% block surveyBody %}
    <div class="row mb-5">
        <div class="col col-md-12">
            <h2>EXCEPCIONES DE FLUJO</h2>
            {% if backlUrl %}
            <a role="button" class="link text-dark" href="{{ backlUrl }}">
                <span>{{ 'Volver'|trans|upper }}</span>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Listado</div>
                    {# <div class="card-title">
                        
                    </div> #}
                </div>
                {% if exceptions|length == 0 %}
                    <div class="card-body">
                        <div class="alert alert-warning" role="alert">
                            <span>No hay excepiones de flujo registradas para esta pregunta.</span>
                        </div>
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Alternativa</th>
                                    <th>Siguiente pregunta</th>
                                    <th>Creado</th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ex in exceptions %}
                                    <tr class="{# {{ exception.id == ex.id ? 'table-warning' : '' }} #}">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ ex.alternative is not empty ? ex.alternative.title : ' - '  }}</td>
                                        <td>
                                            {% if ex.newFlow is not empty %}
                                                <span class="badge badge-secondary mr-2" title="{{ ex.newFlow.typeName }}">{{ ex.newFlow|firstLetterType }}</span>
                                                <span title="{{ ex.newFlow.title }}">{{ ex.newFlow.code is not empty ? ex.newFlow.code : ex.newFlow.title }}</span>
                                            {% else %}
                                                <span class="badge badge-dark">FIN</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ ex.createdAt|date('d/m/Y') }}</td>
                                        <td class="text-right">
                                            <a role="button" class="btn btn-warning btn-sm" href="{{ path('dsy_survey_section_page_question_flow_exception_edit', { question: question.id, exception: ex.id }) }}">
                                                <span>Editar</span>
                                            </a>
                                            <a role="button" class="btn btn-danger btn-sm" onclick="javascript: return confirm('¿Esta seguro?');" href="{{ path('dsy_survey_section_page_question_flow_exception_delete', { question: question.id, exception: ex.id }) }}">
                                                <span>Borrar</span>
                                            </a>
                                        </td>
                                        <td style="width: 60px;" class="text-right">
                                            {% if exception.id == ex.id %}
                                                <h4><span class="badge badge-warning">>></span></h4>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card {{ exception.id is null ? '' : 'border-warning' }}">
                {{ form_start(form) }}
                <div class="card-header ">
                    <div class="card-title">{{ (exception.id is null ? 'Nueva' : 'Editando') ~ ' Excepción' }}</div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <small class="mb-3">
                                <span><strong class="mr-2">PREGUNTA</strong>{{ ((question.code is not empty ? '(' ~ question.code ~ ') ') ~ question.title)|upper }}</span>
                                <span class=" d-block text-muted">{{ ('De tipo ' ~ question.typeName)|upper }}</span>
                            </small>
                        </div>
                    </div>
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
