{% extends '@DSYSurvey/Web/page/index.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_section_page_edit', {survey: survey.id, section: section.id, page: page.id}) }}"><strong>{{ page.title }}</strong></a>
    </li>
{% endblock %}

{% block surveyBody %}

    <div class="row mb-5">
        <div class="col ">
            <h2>{{ ((page.id is not null ? 'Editando' : 'Creando') ~ ' página' )|upper }} </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-md-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
