{% extends '@DSYSurvey/Web/section/edit.html.twig' %}

{% block surveyBreadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('dsy_survey_section_page_index', {survey: survey.id, section: section.id}) }}">{{ 'Páginas'|trans }}</a>
    </li>
{% endblock %}

{% block surveyBody %}
    <div class="row">
        <div class="col-sm col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pages %}
                        <tr>
                            <td>{{ page.title }}</td>
                            <td>{{ page.enabled ? 'Habilitada' : 'Deshabilitada' }}</td>
                            <td>
                                <a href="{{ path('dsy_survey_section_page_edit', {survey: survey.id, section: section.id, page: page.id}) }}">Editar</a>
                                &nbsp;
                                <a href="{{ path('dsy_survey_section_page_question_index', {survey: survey.id, section: section.id, page: page.id}) }}">Preguntas</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if app.request.get('all') %}
                    <a href="{{ path('dsy_survey_section_page_index', {survey: survey.id, section: section.id}) }}">Ver solo habilitadas</a>
                {% else %}
                    <a href="{{ path('dsy_survey_section_page_index', {survey: survey.id, section: section.id, all: 1}) }}">Ver todas</a>
                {% endif %}
                
            </div>
            <a href="{{ path('dsy_survey_section_page_edit', {survey: survey.id, section: section.id}) }}" class="btn btn-info">Crear página</a>
        </div>
    </div>
{% endblock %}
