a.link[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}

.questionList hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, 70%);
}