{% extends "bootstrap_4_horizontal_layout.html.twig" %}

{% block file_widget %}
    {% apply spaceless %}
    {% set question = form.parent.vars.value %}
    <div class="row">
        <div class="col">
            <input type="{{ type }}" {{ block('widget_attributes') }} />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            {% if question.alternatives|length > 0 %}
            <div class="card">
                <div class="card-header">
                    <div class="card-title mb-0">Alternativas</div>
                </div>
                <div class="table-responsive" style="max-height: 300px; overflow: auto;">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Texto</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alt in question.alternatives %}
                        <tr>
                            <td>{{ alt.code ?? ' - ' }}</td>
                            <td>{{ alt.title }}</td>
                            <td>{{ alt.enabled ? 'Habilitada' : 'Deshabilitada' }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endapply %}
{% endblock %}