{% block buttons_groups_row %}
    {% apply spaceless %}
        <div class="form-group">
            {% for child_form in form.children %}
                {{ form_widget(child_form) }}
                &nbsp;
            {% endfor %}
        </div>
    {% endapply %}
{% endblock %}

{% block link_widget %}
    {% apply spaceless %}
        {% set attr = {class: 'btn btn-info', 'href': link}|merge(attr) %}
        <a {{ block('attributes')}} >

            {% if label is empty -%}
                {% set label = name|humanize %}
            {%- endif -%}

            {%- if translation_domain is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|trans({}, translation_domain) -}}
            {%- endif -%}
        </a>
    {% endapply %}
{% endblock %}

{# GroupChoiceType #}
{% block group_choice_widget %}
    {% apply spaceless %}
        <table class="table table-stripped group_choice">
            <tr class="group_choice_header">
                <td>&nbsp;</td>
                {% for val in values %}
                <td class="value_label"><strong>{{ val.title }}</strong></td>
                {% endfor %}
            </tr>
            {% for alt in form.children %}
            <tr class="group_choice_row">
                <td>
                    <strong>{{ form_label(alt) }}</strong>
                </td>
                {% for val in alt.children %}
                    <td class="group_choice_values">
                        {{ form_widget(val, { attr: { class: 'group_choice_radio' } }) }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endapply %}
{% endblock %}

